<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三方客户端管理界面</title>
</head>
<style>
    .tableData {
        margin-top: 20px;
        text-align: left;
    }
    .tableData th {
        padding-left: 12px;
    }
    .tableData td {
        padding-left: 12px;
    }
</style>
<body>
<div class="message">${msg!""}</div>
<form action="/client/create" method="post">
    <input name="id" hidden/>
    第三方客户端名称：<input name="clientName"/><br/>
    <button type="submit" style="margin-top: 10px">添加客户端</button>
</form>
<table class="tableData">
    <thead>
    <tr>
        <th>id</th>
        <th>clientId</th>
        <th>clientName</th>
        <th>clientSecret</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    @if (isNotEmpty(list)) {
        @for (client in list) {
        <tr>
            <td>${client.id}</td>
            <td>${client.clientId}</td>
            <td>${client.clientName}</td>
            <td>${client.clientSecret}</td>
            <td>
                <a href="/client/${client.id}/delete">删除</a>
            </td>
        </tr>
        @}
    @}
    </tbody>
</table>
<div>
</div>
</body>
</html>