<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>${user.name!"无名氏"}</title>
    <link href="${ctxPath}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="${ctxPath}/lib/layui/css/layui.css" rel="stylesheet"/>
    <link href="${ctxPath}/css/blog.css" rel="stylesheet"/>
    <link href="${ctxPath}/css/typora.css" rel="stylesheet"/>
    <link href="${ctxPath}/aplayer/APlayer.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/rainbow.min.css">
</head>
<body>
<div class="header-nav">
    <div class="layui-main">
        <ul class="layui-nav fly-nav" id="nav-log" >
            <a href="/login">
                <img class="img-circle" alt="用户头像" height="54" title="${user.selfDescription!'该用户的什么都没留下'}"
                     width="54" src="${ctxPath + user.avatar!'/img/rabbit.gif'}"/>
                ${user.name}
            </a>
        </ul>
        <div class="layui-form" id="nav-search">
            <input type="text" name="key" id="key" autocomplete="off" placeholder="快速搜索 如多线程"
                   class="layui-input" style="width:60%">
            <button class="layui-btn layui-btn-primary" onclick="search()">
                搜索
            </button>
        </div>
        <ul class="layui-nav fly-nav" id="nav-title">
            <li class="layui-nav-item"><a href="${ctxPath}/blog">首页</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">布局</a>
                <dl class="layui-nav-child" id="nav-l">
                    <dd><a href="javascript:void(0);" onclick="dealClick('layout', '');">默认布局</a></dd>
                    <dd><a href="javascript:void(0);" onclick="dealClick('layout', 'time');">日期布局</a></dd>
                    <dd><a href="javascript:void(0);" onclick="dealClick('layout', 'dir');">目录布局</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:void(0);" onclick="dealClick('type', 'pro');">非公开</a></li>
            @if (isNotEmpty(about)) {
            <li class="layui-nav-item" style="margin-left:-12px;"><a href="${ctxPath}/blog/${user.blogSpace}/user?name=关于" target="_blank">关于</a></li>
            @}
            @if (isNotEmpty(resume)) {
            <li class="layui-nav-item" style="margin-left:-10px;"><a href="${ctxPath}/blog/${user.blogSpace}/user?name=简历" target="_blank">简历<span class="layui-badge-dot"></span></a></li>
            @}
        </ul>
    </div>
</div>