@include("/blog/_header.html"){}
<div id="content">
    <div class="panel panel-default content-body markdown-body">
        <div class="panel-heading content-title">
            <span class="pre-blog"><a href='${ctxPath}${user.blog.preBlog!"#"}'>上一篇:${user.blog.preBlogTitle!"无"}</a></span>
            ${user.blog.title!"咦，竟然没有标题"}
            <span class="next-blog"><a href='${ctxPath}${user.blog.nextBlog!"#"}'>下一篇:${user.blog.nextBlogTitle!"本系列完"}</a></span>
        </div>
        <div class="panel-body">
            @printFile("blog:" + user.blog.filePath + ".html");
            <blockquote>
                <small>
                    Created by ${user.name} on ${user.blog.createTime, "yyyy-MM-dd"} and updated on ${user.blog.modifiedTime, "yyyy-MM-dd"}
                </small>
            </blockquote>
        </div>
    </div>
</div>
<div id="right-nav">
    <ul></ul>
</div>
<script src="${ctxPath}/jquery/jquery.min.js"></script>
<script src="${ctxPath}/layui/layui.js"></script>
<script src="${ctxPath}/js/blog.js"></script>
<script>
    function search() {
        var url = "/blog/${user.blogSpace}/search?key=";
        var key = $("#key").val().trim();
        if (typeof key === "string" && key.length > 0) {
            window.open(url + key);
        }
    }
    $(document).on('keydown', function (event) {
        if (event.keyCode === 13) {
            search();
        }
    });
    layui.use(['element'], function () {
        var element = layui.element;
    });
</script>
</body>
</html>