@include("/blog/_header.html"){}
<div id="content">
    <div class="panel panel-default content-body markdown-body">
        <div class="panel-heading content-title">
            <span class="pre-blog"><a href='${ctxPath}${user.blog.preBlog!"#"}'>上一篇:${user.blog.preBlogTitle!"无"}</a></span>
            ${user.blog.title!"咦，竟然没有标题"}
            <span class="next-blog"><a href='${ctxPath}${user.blog.nextBlog!"#"}'>下一篇:${user.blog.nextBlogTitle!"本系列完"}</a></span>
        </div>
        <div class="panel-body">
            <p id="countChars" style="font-size: 14px;color: #777777;"></p>
            @printFile("blog:" + user.blog.filePath + ".html");
            @if(isNotEmpty(user.blog.createTime) && isNotEmpty(user.blog.updateTime)) {
            <blockquote>
                <small>
                    Views ${user.blog.viewCount!"1"} times and Created by ${user.name} on ${user.blog.createTime, "yyyy-MM-dd"} and Updated on ${user.blog.updateTime, "yyyy-MM-dd"}
                </small>
            </blockquote>
            @} else if (isNotEmpty(user.blog.createTime)) {
            <blockquote>
                <small>
                    Views ${user.blog.viewCount!"1"} times and Created by ${user.name} on ${user.blog.createTime, dateFormat="yyyy-MM-dd"}
                </small>
            </blockquote>
            @}
        </div>
    </div>
</div>
<div id="right-nav">
    <ul></ul>
</div>
<script src="${ctxPath}/lib/jquery/jquery.min.js"></script>
<script src="${ctxPath}/lib/layui/layui.js"></script>
<script src="${ctxPath}/js/common/HK.js"></script>
<script src="${ctxPath}/js/blog.js"></script>
<script src="${ctxPath}/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
@include("/blog/_footer.html"){}