@include("/blog/_header.html"){}
<div class="layui-main" style="padding: 15px 60px;margin-top: 26px;">
    @if (isNotEmpty(lists)) {
    <ul>
    @for (list in lists) {
        <h3 style="clear: both;margin: 0;padding: 15px 0 5px;">${titles[listLP.index - 1]}</h3>
        @for (blog in list) {
        <li style="width:50%;margin:10px 0;float:left;">
            ${blog.createTime, "yyyy-MM-dd"}
            <a target="_blank" href="${ctxPath + blog.blogPath}">${blog.dir}：${blog.title}</a>
        </li>
        @}
    @}
    </ul>
    @} else {
    <center style="margin: 60px;"><h3>空空如也</h3></center>
    @}
</div>
<div id="aplayer"></div>
<script src="${ctxPath}/jquery/jquery.min.js"></script>
<script src="${ctxPath}/layui/layui.js"></script>
<script>
    layui.use(['element', 'layer'], function () {
        var element = layui.element;
        var layer = layui.layer;
        //获取hash来切换选项卡，假设当前地址的hash为lay-id对应的值
        var layid = location.hash.replace(/^#layout=/, '');
        // alert(layid);

    })
    var value = "${key!}";
    if (typeof value === 'string' && value !== '') {
        $('#key').val(value);
    }
    function search() {
        var url = "/blog/${user.blogSpace}/search?key=";
        var key = $("#key").val().trim();
        if (typeof key === "string" && key.length > 0) {
            window.open(url + key);
        }
    }
    $(document).on('keydown', function (event) {
        if (event.keyCode === 13) {
            search();
        }
    });
</script>
@include("/blog/_footer.html"){}