@include("/blog/_header.html"){}
<div class="layui-main" style="padding: 15px 60px;margin-top: 26px;margin-left: 23%;width:62%;">
    <center>本页共 ${user.pageTotal} 篇，分为 ${user.dirCount} 个系列展示</center>

    @if (isNotEmpty(lists) && isNotEmpty(titles)) {
    <ul>
    @for (list in lists) {
        <h3 style="clear: both;margin: 0;padding: 15px 0 5px;">${titles[listLP.index - 1]}</h3>
        @for (blog in list) {
        <li style="width:50%;margin:9px 0;float:left;">
            ${blog.createTime, "yyyy-MM-dd"}
            <a target="_blank" href="${ctxPath + blog.blogPath}">${blog.dir}：${blog.title}</a>
        </li>
        @}
    @}
    </ul>
    <div style="padding-top: 20px;clear: both">
        <center>公开博客 ${user.pub} 篇，受保护博客 ${user.pro} 篇，All Right Reserved</center>
        <center><a href="http://www.beian.miit.gov.cn">湘ICP备17005816号</a></center>
    </div>
    @} else {
    <center style="margin: 60px;"><h3>空空如也</h3></center>
    @}
</div>
@if (isNotEmpty(view)) {
<div class="right-nav hid">
    <p>最多访问</p>
    <ul>
        @for (r in view) {
        <li>
            <span class="layui-bg-gray" style="float: right;font-size: 13px;">${r.viewCount}次</span>

            <a target="_blank" href="${ctxPath + r.blogPath}"
               class="layui-col-xs10 p1">${rLP.index}.${r.dir}:${r.title}</a>
        </li>
        @}
        <!--<li>-->
        <!--<a href="/blog">测试测试测试测试测试测试测试测试测试</a>-->
        <!--<span class="layui-badge layui-bg-gray" style="margin-left:5px">999999999999次</span>-->
        <!--</li>-->
    </ul>
</div>
@}
@if (isNotEmpty(upload)) {
<div class="right-nav hid" style="top: 460px;">
    <p>最新发布</p>
    <ul>
        @for (r in upload) {
        <li>
            <span class="layui-bg-gray" style="float: right;font-size: 13px;">${r.createTime, "yyyyMMdd"}</span>
            <a target="_blank" href="${ctxPath + r.blogPath}"
               class="layui-col-xs9 p1">${rLP.index}.${r.dir}:${r.title}</a>
        </li>
        @}
    </ul>
</div>
@}
@if (isNotEmpty(recommend)) {
<div class="right-nav hid" style="left:5%;padding-bottom:2px;">
    <p>推荐阅读</p>
    <ul>
        @for (r in recommend) {
        <li>
            <span class="layui-bg-gray" style="float: right;font-size: 13px;">${'热度' + r.recommendValue}</span>
            <a target="_blank" href="${ctxPath + r.blogPath}"
               class="layui-col-xs9 p1">${rLP.index}.${r.dir}:${r.title}</a>
        </li>
        @}
    </ul>
</div>
@}
<div id="aplayer"></div>
<script src="${ctxPath}/lib/jquery/jquery.min.js"></script>
<script src="${ctxPath}/lib/layui/layui.js"></script>
<script src="${ctxPath}/js/common/HK.js"></script>
<script src="${ctxPath}/aplayer/APlayer.min.js"></script>
<script src="${ctxPath}/aplayer/myAplayer.js"></script>
@include("/blog/_footer.html"){}