@include("/blog/_header.html"){}
<div class="layui-main" style="padding: 15px 4%;margin-top: 26px;width:60%;">
    <center>本页共 ${site.xiaokui.user.pageTotal} 篇，分为 ${site.xiaokui.user.dirCount} 个系列展示</center>
    @if (isNotEmpty(user.blogList)) {
    @for (list in user.blogList) {
    <ul class="list-group">
        @for (blog in list) {
        <li class="list-group-item">
            <span class="badge">${blog.createTime, "yyyy-MM-dd"}</span>
            <a target="_blank" href="${ctxPath + blog.blogPath}">${blog.dir}：${blog.title}</a>
        </li>
        @}
    </ul>
    @}
    @} else {
    <center style="margin: 60px;"><h3>空空如也</h3></center>
    @}
</div>
@include("/blog/_common_nav.html"){}
@include("/blog/_footer.html"){}