<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>秒杀列表页</title>
    <link href="${ctxPath}/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
        table {
            font-size: 18px;
        }
        .bold {
            font: 20px bold;
            color: green;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h2>秒杀列表</h2>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>库存</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>创建时间</th>
                    <th>状态</th>
                    <th>详情页</th>
                </tr>
                </thead>
                <tbody>
                @for (p in products) {
                    <tr>
                        <td>${p.name}</td>
                        <td>${p.number}</td>
                        <td class="bold">${p.startTime, "yyyy-MM-dd HH:mm:ss"}</td>
                        <td class="bold">${p.endTime, "yyyy-MM-dd HH:mm:ss"}</td>
                        <td>${p.createTime, "yyyy-MM-dd HH:mm:ss"}</td>
                        @if (p.startTime > date()) {
                        <td>未开始</td>
                        @} else if (p.endTime < date()) {
                        <td>已结束</td>
                        @} else {
                        <td>正在抢购</td>
                        @}
                        <td><a class="btn btn-info" href="${ctxPath}/sys/seckill/${p.id}/detail" target="_blank">详情</a></td>
                    </tr>
                @}
                </tbody>
            </table>
            <p style="margin:0 auto;width: 200px;">
                <p id="time" style="margin:0 auto;width: 200px;"></p>
            </p>
        </div>
    </div>
    <button class="btn btn-default" style="margin:0 auto;width: 200px;" onclick="reset()">重置数据</button>
</div>
<div class="container">
    <h4>对于秒杀系统设计的一些思考</h4>
    <div class="panel panel-default">
        <p>1.首先是前端页面，</p>
    </div>
</div>
<script src="${ctxPath}/jquery/jquery.min.js"></script>
<script src="${ctxPath}/bootstrap/js/bootstrap.min.js"></script>
<script src="${ctxPath}/js/common/HK.js"></script>
<script type="text/javascript">
    HK.addCtx("${ctxPath}");
    HK.showTime("time");
    function reset() {
        HK.reLocate("/sys/seckill/reset");
    }
</script>
</body>
</html>