@layout("/beetl/box_container.html"){
<div class="layui-row box-content">
    <form class="layui-form" lay-filter="setValue">
        <#input title="角色名称" id="name" placeholder="例如 普通用户"/>

        @inputs = [{title:"上级角色ID",id:"parentId",placeholder:"(自动填充)",readonly:"true",required:"required"},
        @{title:"上级角色名称",id:"parentName",placeholder:"(自动填充)",readonly:"true", required:"required"}];
        @buttons1 = [{name:"请选择",method:"openRoleTree(event)"}];
        <#input_button type="form" inputs="${inputs}" buttons="${buttons1}"/>

        <#input title="角色描述" id="description" placeholder="例如 管理员可以为所欲为，而其他的..."/>
        @values = [1,2,3,4,5];
        <#select title="排序" id="orderNum" values="${values}"/>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="add">添加角色</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <script>
        layui.use('form', function () {
            var form = layui.form;
            //监听提交
            form.on('submit(add)', function (data) {
                HK.post("/sys/role/add", data.field, "添加角色成功");
                return false;
            });
        });
        function openRoleTree(e) {
            e.preventDefault();
            HK.initInputSelectZtree("parentId", "parentName", "/sys/role/tree");
        }
    </script>
</div>
@}
