<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员界面</title>
</head>
<body>
欢迎管理员： ${session.user.name}
<div>
    <h3>教师管理</h3>
    <p>所有老师</p>
    <table>
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>密码</th>
            <th>创建时间</th>
            <th>选项</th>
        </tr>
    @for (t in teachers) {
        <tr>
            <td>${t.id}</td>
            <td>${t.name}</td>
            <td>${t.password}</td>
            <td>${t.createTime, "yyyy-MM-dd"}</td>
            <td><a href="/study/delete?id=${t.id}">删除</a></td>
        </tr>
    @}
    </table>
    <form action="/study/register" method="post">
        创建老师：
        用户名:<input name="name" required/>
        密码:<input name="password" required/>
        <input name="type" value="teacher" hidden>
        <input type="submit" value="创建老师"/>
    </form>
    <form action="/study/update" method="post">
        修改老师信息：
        ID：<input name="id" required/>
        用户名:<input name="name" required/>
        密码:<input name="password" required/>
        <input name="type" value="teacher" hidden>
        <input type="submit" value="修改老师信息"/>
    </form>
</div>

<div>
    <h3>学生管理</h3>
    <p>所有学生</p>
    <table>
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>密码</th>
            <th>创建时间</th>
            <th>选项</th>
        </tr>
        @for (t in students) {
        <tr>
            <td>${t.id}</td>
            <td>${t.name}</td>
            <td>${t.password}</td>
            <td>${t.createTime, "yyyy-MM-dd"}</td>
            <td><a href="/study/delete?id=${t.id}">删除</a></td>
        </tr>
        @}
    </table>
    <form action="/study/register" method="post">
        创建学生：
        用户名:<input name="name" required/>
        密码:<input name="password" required/>
        <input name="type" value="student" hidden>
        <input type="submit" value="创建学生"/>
    </form>
    <form action="/study/update" method="post">
        修改学生信息：
        ID：<input name="id" required/>
        用户名:<input name="name" required/>
        密码:<input name="password" required/>
        <input name="type" value="student" hidden>
        <input type="submit" value="修改学生信息"/>
    </form>
</div>

<div>
    <h3>教学资源管理</h3>
    <p>所有资源</p>
    <table>
        <tr>
            <th>ID</th>
            <th>文章标题</th>
            <th>上传人</th>
            <th>选项</th>
        </tr>
        @for (t in resources) {
        <tr>
            <td>${t.id}</td>
            <td>${t.title}</td>
            <td>${t.uploader}</td>
            <td><a href="/study/resource/delete?id=${t.id}">删除</a></td>
        </tr>
        @}
    </table>
    <form action="/study/resource/add" method="post" enctype="multipart/form-data">
        上传教学资源：
        资源上传:<input type="file" name="file" required/>
        <input type="submit" value="上传资源"/>
    </form>
</div>
<div>
    <a href="/study/logout">退出登录</a>
</div>
</body>
</html>