@layout("/beetl/box_container.html"){
<div class="layui-row box-content">
    <form class="layui-form" lay-filter="setValue">
        <input id="id" value="${user.id}" hidden/>
        <#input title="用户名称" id="name" placeholder="例如 一般般帅"/>
        <#input title="邮箱" id="email" placeholder="用于找回密码" required="email"/>
        @values = ["男","女","保密"];
        <#select title="性别" id="sex" values="${values}"/>
        <#input title="密码" id="password" placeholder="设置用户密码" extra="lay-verify='password'"/>

        @inputs1 = [{title:"角色ID",id:"roleId",placeholder:"(选填，默认为普通用户)",readonly:"true"},
        @{title:"角色名称",id:"roleName",placeholder:"(自动填充，角色名称)",readonly:"true"}];
        @buttons1 = [{name:"选填",method:"openRoleTree()"}];
        <#input_button type="form" inputs="${inputs1}" buttons="${buttons1}"/>

        @inputs2 = [{title:"部门ID",id:"deptId",placeholder:"(选填，默认不分配)",readonly:"true"},
        @{title:"部门名称",id:"deptName",placeholder:"(自动填充，部门名称)",readonly:"true"}];
        @buttons2 = [{name:"选填",method:"openDeptTree()"}];
        <#input_button type="form" inputs="${inputs2}" buttons="${buttons2}"/>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="modify">修改用户信息</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <script>
        //Demo
        layui.use('form', function () {
            var form = layui.form;
            //监听提交
            form.on('submit(modify)', function (data) {
                data.field["id"] = $("#id").val();
                // HK.toString(data.field);
                HK.post("/sys/user/edit", data.field, "修改用户信息成功");
                return false;
            });
            // 表单初始赋值
            form.val('setValue', {
                name: "${user.name}",
                email: "${user.email}",
                sex: "${user.sex}",
                password: "${user.password}",
                roleId: "${user.roleId}",
                roleName: "${roleName}",
                deptId: "${user.deptId}",
                deptName: "${deptName}",
            })
        });
    </script>
</div>
@}
