<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试界面</title>
    <!--<link href="${ctxPath}/boo/ztree/zTreeStyle.css" rel="stylesheet">-->

    <link href="${ctxPath}/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!--<link href="${ctxPath}/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>-->
    <link href="${ctxPath}/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <!--<link href="${ctxPath}/plugins/ztree/zTreeStyle.css" rel="stylesheet">-->
</head>
<body>
<table id="exampleTableToolbar" data-mobile-responsive="true">
</table>
</body>
<!--<link rel="stylesheet" href="${ctxPath}/libs/layui/css/layui.css"/>-->
<!--<link href="${ctxPath}/css/hk.css" rel="stylesheet"/>-->
<script src="${ctxPath}/jquery/jquery-3.3.1.min.js"></script>
<script src="${ctxPath}/bootstrap-table/bootstrap-table.min.js"></script>
<script src="${ctxPath}/bootstrap-table/bootstrap-table.min.js"></script>
<script src="${ctxPath}/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<!--<script src="${ctxPath}/plugins/ztree/jquery.ztree.all.min.js"></script>-->
<!--<script src="${ctxPath}/js/common/ztree-object.js"></script>-->
<!--<script src="${ctxPath}/plugins/layer/layer.min.js"></script>-->
<!--<script src="${ctxPath}/libs/layui/layui.js"></script>-->
<!--<script src="${ctxPath}/js/common/HK.js"></script>-->
<script>
    (function() {
        $('#exampleTableToolbar').bootstrapTable({
            url: "/sys/user/list",
            columns: [
                {field: 'selectItem', radio: true},
                {title: '用户ID', field: 'id', visible: false, align: 'center', valign: 'middle'},
                {title: '用户名', field: 'name', align: 'center', valign: 'middle', sortable: true},
                {title: '邮箱', field: 'email', align: 'center', valign: 'middle', sortable: true},
                {title: '博客空间', field: 'blogSpace', align: 'center', valign: 'middle', sortable: true},
                {title: '性别', field: 'sex', align: 'center', valign: 'middle', sortable: true,
                    formatter: function (value, item, index) {
                        if (value === 1) return '<span class="layui-btn layui-btn-normal layui-btn-xs">男</span>';
                        if (value === 2) return '<span class="layui-btn layui-btn-warm layui-btn-xs">女</span>';
                        if (value === 3) return '<span class="layui-btn layui-btn-danger layui-btn-xs">保密</span>';
                    }},
                {title: '角色', field: 'roleName', align: 'center', valign: 'middle', sortable: true},
                {title: '部门', field: 'deptName', align: 'center', valign: 'middle', sortable: true},
                {title: '邮箱', field: 'email', align: 'center', valign: 'middle', sortable: true},
                {title: '创建时间', field: 'createTime', align: 'center', valign: 'middle', sortable: true},
                {title: '状态', field: 'status', align: 'center', valign: 'middle', sortable: true}],
            method: "post",
            clickToSelect: true,
            idField: 'id',
            striped: true,
            search: true,
            showToggle: true,
            showColumns: true,
            showRefresh: true,
            showPaginationSwitch: true,
            showFullscreen: true,
            pagination: true,
            toolbar: '#exampleToolbar',
            sidePagination: 'client',//server/client
            // pageSize: '2',
            // pageList: [3, 6, 9, 10],
            // iconSize: 'outline',
        });
    })();
</script>
</html>