@include("/blog/_header.html"){}

<div class="layui-main" style="padding: 15px 60px;margin-top: 26px;margin-left: 22.5%;width:62%;">
    <center>本页共 ${site.xiaokui.user.pageTotal} 篇，分为 ${site.xiaokui.user.dirCount} 个系列展示</center>

    @if (isNotEmpty(lists) && isNotEmpty(titles)) {
    <ul>
    @for (list in lists) {
        <h3 style="clear: both;margin: 0;padding: 15px 0 5px;">${titles[listLP.index - 1]}</h3>
        @for (blog in list) {
        <li style="width:50%;margin:9px 0;float:left;padding-right:5px;">
            ${blog.createTime, "yyyy-MM-dd"}
            <a target="_blank" href="${ctxPath + blog.blogPath}">${blog.dir}：${blog.title}</a>
        </li>
        @}
    @}
    </ul>
    @} else {
    <center style="margin: 60px;"><h3>空空如也</h3></center>
    @}
</div>
@include("/blog/_common_nav.html"){}
@include("/blog/_footer.html"){}