@layout("/beetl/box_container.html"){
<div class="layui-row box-content">
    <div id="app">
        <blockquote class="layui-elem-quote">强烈建议新手初次使用时，查看 <a href="#">帮助文档</a> ，了解一些细节上的约定，以方便您更好的使用</blockquote>

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>使用说明</legend>
        </fieldset>
        <blockquote class="layui-elem-quote layui-quote-nm">
            <p>我们假设您认真阅读了帮助文档，了解细节上的一些约定，这里再次说明一下需要注意的地方：</p>
            <p>1.对于所传的MD文件，里面的格式必须要符合xxx.md</p>
            <p>2.上传完后，必须点击确认保存，才算完成操作</p>
        </blockquote>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>上传周报MD文件</legend>
        </fieldset>
        <div class="layui-upload">
            <button type="button" class="layui-btn layui-btn-normal" id="testList">多文件选择</button>
            <div class="layui-upload-list">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>文件名</th>
                        <th>大小</th>
                        <th>目录：标题：排序：创建时间：统计字数</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="demoList"></tbody>
                </table>
            </div>
            <div class="layui-row">
                <button type="button" class="layui-btn" id="testListAction">开始上传</button>
                <button class="layui-btn" id="saveAll" \@click="save">确认保存</button>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/lib/vue/vue.js"></script>
<script src="${ctxPath}/js/common/HK.js"></script>
<script type="text/javascript">
    HK.addCtx("${ctxPath}");
</script>
<script src="${ctxPath}/js/week.js"></script>
@}
