<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>${title!"小葵博客"}</title>
    <link href="${ctxPath}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="${ctxPath}/lib/layui/css/layui.css" rel="stylesheet"/>
    <link href="${ctxPath}/css/blog.css" rel="stylesheet"/>
    <link href="${ctxPath}/css/typora.css" rel="stylesheet"/>
    <link href="${ctxPath}/aplayer/APlayer.min.css" rel="stylesheet"/>
    <link href="${ctxPath}/css/rainbow.css" rel="stylesheet"/>
    <style>
        .main-container {
            padding: 10px 4% 15px 9.5%;
        }
        .layui-nav .layui-nav-item {
        }
        .hljs-comment,
        .hljs-quote {
            /*color: #5B995B;*/
            color: greenyellow;
            /*font-style: italic;*/
        }
    </style>
</head>
<body>
<div class="header-nav">
    <div class="layui-main">
        <ul class="layui-nav fly-nav" id="nav-log" >
            <a href="/admin/login" target="_blank">
                <img class="img-circle" alt="用户头像" height="54" title="${user.selfDescription!'该用户的什么都没留下'}"
                     width="54" src="${ctxPath + user.avatar!'/img/rabbit.gif'}"/>
                ${user.name}
            </a>
        </ul>
        <div class="layui-form" id="nav-search">
            <div style="width: 100%; margin: auto 0;">
                <input type="text" name="key" id="key" autocomplete="off" placeholder="智能搜索 如多线程/2020"
                       class="layui-input search" style="width:70%;margin-left: 4%">
                <button class="layui-btn layui-btn-primary search" onclick="search()" style="width: 22%">
                    搜索
                </button>
            </div>
        </div>
        <ul class="layui-nav fly-nav" id="nav-title">
            <li class="layui-nav-item"><a href="${ctxPath}/">首页</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">归档</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:void(0);" onclick="dealClick('layout', '');">默认归档</a></dd>
                    <dd><a href="javascript:void(0);" onclick="dealClick('layout', 'time');">按日期</a></dd>
                    <dd><a href="javascript:void(0);" onclick="dealClick('layout', 'dir');">按目录</a></dd>
                </dl>
            </li>
            @if (isNotEmpty(project)) {
            <li class="layui-nav-item">
                <a href="javascript:;">项目演示</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/login" target="_blank">管理后台</a></dd>
                    <dd><a href="javascript:void(0);" onclick="dealClick('layout', 'time');">公众号</a></dd>
                    <dd><a href="https://github.com/good-looking-hk/site.xiaokui/blob/master/settings.gradle" target="_blank">源代码</a></dd>
                    <dd><a href="/admin/login" target="_blank">ELK</a></dd>
                    <dd><a href="/admin/login" target="_blank">Flink</a></dd>
                </dl>
            </li>
            @}
            <li class="layui-nav-item"><a href="javascript:void(0);" onclick="dealClick('type', 'pro');">非公开</a></li>
            @if (isNotEmpty(about)) {
            <li class="layui-nav-item" style="margin-left:-12px;"><a href="${ctxPath}/blog/${user.blogSpace}/user?name=关于" target="_blank">关于</a></li>
            @}
            @if (isNotEmpty(resume)) {
            <li class="layui-nav-item" style="margin-left:-10px;"><a href="${ctxPath}/blog/${user.blogSpace}/user?name=简历" target="_blank">简历<span class="layui-badge-dot"></span></a></li>
            @}
        </ul>
    </div>
</div>